{% extends 'layout.html.twig' %}

{% block body %}

    <div class="header-w bg-white" > </div>
      <div class="page-wraper-glass">
         <div class=" page-content">
            <div class="content-block">
               <div class=" bg- browse-job p-t50 p-b20">
                  <div class="container">
                     <div class="row">
                        <div class="d-none d-lg-block col-xl-3 col-lg-4 m-b30 ">
                           <div class=" d-none d-lg-block sticky-top">
                              <div class="candidate-info  bg-white radius-md">
                                 <div class="candidate-detail text-center ">
                                    <a class="upload-link" href="?a=Candidate_Profile#avatar" title="update" data-bs-toggle="tooltip" data-placement="right">
                                       <div class="canditate-des" >
                                          <center><img class=" canditate-des-img" src="../images/default.jpg"  alt="image"  /></center>
                                       </div>
                                    </a>
                                    <div class="candidate-title">
                                       <div class="">
                                          <h4 class="m-b5">
                                             <a href="javascript:void(0);">
                                                <h4 class="mt-2 text-dark">Med krimi</h4>
                                             </a>
                                          </h4>
                                          <p class="m-b0">
                                             <a href="javascript:void(0);">
                                          <h6 class="mt-1">title</h6></a></p>
                                       </div>
                                       <a class="btn btn-outline-primary rounded-pill btn-sm" href="{{ path('candidat_profil')}}">Voir profil</a>
                                    </div>
                                 </div>
                                 <div class="row navbar-vertical-label-wrapper " >
                                    <ul class="">
                                       <li>
                                          <a href="{{ path('candidate_profile')}}" >
                                             <span>
                                                <h6 class="fs-0 "><i class=" far fa-user" aria-hidden="true"></i> Profil</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('my_resume')}}" class="active">
                                             <span>
                                                <h6 class="fs-0 text-white fw-bold"><i class="far fa-file-alt" aria-hidden="true"></i> Ma carrière</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('my_applications')}}">
                                             <span>
                                                <h6 class="fs-0"><i class="fa fa-briefcase " aria-hidden="true"></i> Mes candidatures</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('my_cv')}}">
                                             <span>
                                                <h6 class="fs-0"><i class="far fa-id-card" aria-hidden="true"></i> Gérer CV</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="{{ path('candidate_password')}}">
                                             <span>
                                                <h6 class="fs-0"><i class="fa fa-key" aria-hidden="true"></i> Changer Mot de passe</h6>
                                             </span>
                                          </a>
                                       </li>
                                       <li>
                                          <a href="./logout.php">
                                             <span>
                                                <h6 class="fs-0"> <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Déconnexion</h6>
                                             </span>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-9 col-lg-8 m-b30">
                           <div class="job-bx job-profile  bg-white ">
                              <div class="job-bx-title clearfix">
                                 <h5 class="font-weight-700 float-start text-primary">Ma carrière</h5>
                              </div>
                              <h3 class="mb-0 text-dark">Compétences</h3>
                              <div  
                              <div 
                              <div class="panel ">
                                 <label for="organizerMultiple"></label>
                                 <select class="form-select js-choice" required type="text" id="organizerMultiple" multiple="multiple" size="1" name="skills[]" data-options='{"removeItemButton":true,"placeholder":true}'>
                                    <option  disabled value="">choisir vos compétences</option>
                                 </select>
                                 <button type="submit" class="  btn btn-outline-primary rounded-pill">   Ajouter    </button>
                              </div>
                              <div class=" GridLex-col-9_sm-8_xs-12">
                                 <div class="job-time m-t15 m-b10">
                                    <span class="">
                                       <h6 class="mt-1 text-primary">java<a href="employee/app/drop-skills.php?id="  class="cose font-weight-bold text-danger  ">     x</a>
                                       </h6>
                                    </span>
                                 </div>
                                 <div class="job-bx-title clearfix"> 
                                 </div>
                              </div>
                              <h3 class="mb-0 text-dark">Formation</h3>
                              <ul></ul>
                              <a class="mb-4 d-block d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#formation" aria-expanded="false" aria-controls="experience-form1"><span class="circle-dashed"><i class="fas fa-plus" aria-hidden="true"></i></span><span class="ms-3">Ajouter une nouvelle formation</span></a>
                              <div   class="GridLex-col-9_sm-8_xs-12">
                                 <div class="resume-list-wrapper">
                                    <div class="resume-list-item">
                                       <div class="row">
                                          <div class=" text-justify pxp-single-candidate-timeline">
                                             <div class="pxp-single-candidate-timeline-item">
                                                <div class="pxp-single-candidate-timeline-dot" ></div>
                                                <div class="pxp-single-candidate-timeline-info ms-3">
                                                   <div class="pxp-single-candidate-timeline-time text-dark"><span class="bg-200  rounded-4 m-b0">12/12/12 12/12/12</span>  <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#formation" class="btn btn-outline-primary add-btn btn-sm"><i class="fas fa-pencil-alt m-r4"></i> </a>
                                                      <a href="employee/app/drop-qualification.php?id=" onclick = "return confirm('Voulez-vous vraiment supprimer cette formation ?')" class=" btn btn-outline-danger add-btn btn-sm"><i class="fas fa-trash"></i></a>
                                                   </div>
                                                   <div class="pxp-single-candidate-timeline-position text-primary fw-bold">title</div>
                                                   <div class="pxp-single-candidate-timeline-company pxp-text-light">tecos</div>
                                                   <p class="text-dark pb-4"> description</p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-sm-12 col-md-2">
                                             <div class="resume-list-btn">
                                                <div id="edit" class="modal fade login-box-wrapper" tabindex="-1" data-width="550" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="pager-wrapper">
                                       <ul class="pager-list">
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="job-bx-title clearfix">
                                 </div>
                                 <h3 class="mb-0 text-dark">Expérience professionnelle</h3>
                                 <ul></ul>
                                 <a class="mb-4 d-block d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#worksample"  aria-expanded="false" aria-controls="experience-form1"><span class="circle-dashed"><i class="fas fa-plus"></i></span><span class="ms-3">Ajouter une nouvelle expérience</span></a>
                                 <!-- Modal -->
                                 <div id="ex" class="GridLex-col-9_sm-8_xs-12">
                                    <div class="resume-list-wrapper">
                                       <div class="resume-list-item">
                                          <div class="row">
                                             <div class="text-justify pxp-single-candidate-timeline">
                                                <div class="pxp-single-candidate-timeline-item">
                                                   <div class="pxp-single-candidate-timeline-dot" ></div>
                                                   <div class="pxp-single-candidate-timeline-info ms-3">
                                                      <div class="pxp-single-candidate-timeline-time text-dark  "><span class=" bg-200  rounded-4 m-b0">12/12/12 12/12/12</span>   <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#worksample" class="btn btn-outline-primary add-btn btn-sm"><i class="fas fa-pencil-alt m-r4"></i> </a>
                                                         <a href="employee/app/drop-experience.php?id=" onclick = "Voulez-vous vraiment supprimer cette expérience ??')" class="btn btn-outline-danger  add-btn btn-sm"><i class="fas fa-trash-alt m-r4"></i></a>
                                                      </div>
                                                      <div class="pxp-single-candidate-timeline-position text-primary fw-bold">title</div>
                                                      <div class="pxp-single-candidate-timeline-company pxp-text-light">isamm</div>
                                                      <p class="text-dark pb-4">description</p>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-sm-12 col-md-2">
                                                <div class="resume-list-btn">
                                                   <div id="edit" class="modal fade login-box-wrapper" tabindex="-1" data-width="550" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="pager-wrapper">
                                          <ul class="pager-list">
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="job-bx-title clearfix">
                                 </div>
                                 <h3 class="mb-0 text-dark">Certificats</h3>
                                 <ul></ul>
                                 <a class="mb-4 d-block d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#certification" aria-expanded="false" aria-controls="experience-form1"><span class="circle-dashed"><i class="fas fa-plus"></i></span><span class="ms-3">Ajouter nouvelle certificat</span></a>
                                 <!-- Modal -->
                                 <div class="GridLex-col-9_sm-8_xs-12">
                                    <div class="resume-list-wrapper">
                                       <div class="resume-list-item">
                                          <div class="row">
                                             <div class="text-justify pxp-single-candidate-timeline">
                                                <div class="pxp-single-candidate-timeline-item">
                                                   <div class="pxp-single-candidate-timeline-dot" ></div>
                                                   <div class="pxp-single-candidate-timeline-info ms-3">
                                                      <div class="pxp-single-candidate-timeline-time text-dark">
                                                         <span class="bg-200  rounded-4 m-b0">12/12/12 12/12/12</span>
                                                         <div class="pxp-single-candidate-timeline-position mt-2"><a href="employee/view-attachment.php?id=" class="pxp-single-candidate-timeline-position ">title</a>        <a href="employee/app/drop-attachment.php?id=" onclick = "return confirm('Voulez-vous vraiment supprimer cette certification ?')" class="btn btn-outline-danger  add-btn btn-sm"><i class="fas fa-trash-alt m-r4"></i></a></div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="pager-wrapper">
                                          <ul class="pager-list">
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="job-bx-title clearfix">
                                 </div>
                                 <h3 class="mb-0 text-dark">Langues</h3>
                                 <ul></ul>
                                 <a class="mb-4 d-block d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#lang"  aria-expanded="false" aria-controls="experience-form1"><span class="circle-dashed"><i class="fas fa-plus" ></i></span><span class="ms-3">Ajouter nouvelle langue</span></a>  
                                 <div id="Language" class="GridLex-col-9_sm-8_xs-12">
                                    <div class="resume-list-item">
                                       <div class="row">
                                          <div class="col-sm-12 col-md-10">
                                             <div class="">
                                                <a >
                                                   <h5>english</h5>
                                                   <div class="row">
                                                      <div class="col-sm-12 col-md-12">
                                                         <i class="fa fa-user mr-5"></i> Parlé - <strong class="mr-10">bien</strong> <i class="fa fa-book mr-5"></i>    Lu - <strong class="mr-10">bien</strong> <i class="fas fa-pencil-alt m-r4 "></i>   Écrit - <strong class="mr-10">bien</strong>
                                                      </div>
                                                   </div>
                                                </a>
                                                <div class="progress">
                                                   <div class="progress-bar bg-primary"  style="width: 70%"
                                                      role="progressbar"></div>
                                                </div>
                                             </div>
                                             <ul></ul>
                                          </div>
                                          <div class="col-sm-12 col-md-2">
                                             <div class="resume-list-btn">
                                                <h5 class="m-b15"></h5>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#lang" class="btn btn-outline-primary add-btn btn-sm"><i class="fas fa-pencil-alt m-r4"></i> </a>
                                                <a href="employee/app/drop-language.php?id=" onclick = "return confirm('Voulez-vous vraiment supprimer cette langue ?')" class="btn btn-outline-danger  add-btn btn-sm"><i class="fas fa-trash-alt m-r4"></i></a>
                                                <div id="edit" class="modal fade login-box-wrapper" tabindex="-1" data-width="550" style="display: none;" data-backdrop="static" data-keyboard="false" data-replace="true">
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class=" job-bx-title clearfix">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     



{% endblock %}